/*Text Styles*/
#content{
    margin: 0 auto;
    width: 900px;
}

.headline{
    font-size: 2em;
    color: rgb(0, 0, 103);
    font-weight: bold;
    text-align: center;
    font-family: Helvetica, sans-serif;
}

.byline {
    margin-top: 20px;
    font-family: Helvetica, sans-serif;
    color: rgb(0, 0, 103);
    font-size: 14px;
    font-style: italic;
}
.body{
    font-family: Georgia, serif;
    font-size: 13px;
}


/*Image Styles*/
.hope-image{
    min-width: 300px;
    max-width: 500px;
    height: auto;
    float: initial;
}

.caption-1{
    font-size: 10px;
}
.conference-image{
    min-width: 300px;
    max-width: 500px;
    height: auto;
}
.caption-2{
    font-size: 10px;
    text-align: left;
    margin-right: 40%;
}
.woman-image{
    min-width: 300px;
    max-width:500px ;
    height: auto;
    float: right;
}

.caption-3{
    font-size: 10px;
    text-align: right;
    margin-left: 45%;
}
